@{
    ViewData["Title"] = "Info Utile";
}

<div class="about">
    <div class="about-desc">
        <p class="style">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="about_bottom">
        <div class="col-md-4 about_left">
            <h4 class="m_2">Program 10 aprilie 2016</h4>
            <ul class="about-list">
                <li>8:00 - 09:00<p>ridicare pachete de start</p></li>
                <li>09:45<p>ședința tehnică</p></li>
                <li>10:00<p>Start traseul lung</p></li>
                <li>10:15<p>Start traseul scurt</p></li>
                <li>12:00<p>Start cursa copiilor</p></li>
                <li>15:00<p>Festivitatea de premiere</p></li>
            </ul>
        </div>
        <div class="col-md-4 company_ad">
            <h4 class="m_2">Cazare Iași</h4>
            <ul class="about-list">
                <li><a target="_blank" href="http://www.hamak.ro/servicii/">Hamak Iași</a><p>sat Pietrărie, Com. Bârnova, Iași</p></li>
                <li><a target="_blank" href="http://www.pensiuneamirage.ro/">Pensiunea Miraj</a><p>Sat Păun, Com. Bârnova, Iași</p></li>
                <li><a target="_blank" href="http://cabanabucium.ro/">Cabana Bucium</a><p>Sat Păun, Com. Bârnova, Iași</p></li>
                <li><a target="_blank" href="http://motelbucium.ro/">Motel Bucium</a><p>Şoseaua Iaşi - Vaslui Km. 12</p></li>
            </ul>
        </div>
        <div class="col-md-4 company_ad">
            <h4 class="m_2">Obiective turistice în Iași</h4>
            <ul class="about-list">
                <li><a target="_blank" href="#">Grădina Botanică</a></li>
                <li><a target="_blank" href="#">Parcul Copou - Teiul lui Eminescu</a></li>
                <li><a target="_blank" href="#">Bojdeuca lui Ion Creangă</a></li>
                <li><a target="_blank" href="#">Casa Vasile Pogor</a></li>
                <li><a target="_blank" href="#">Muzeul Unirii</a></li>
                <li><a target="_blank" href="#">Catedralele Ortodoxă, Catolică</a></li>
                <li><a target="_blank" href="#">Teatrul Național Vasile Alecsandri</a></li>
                <li><a target="_blank" href="#">Biserica Sfinții Trei Ierarhi</a></li>
                <li><a target="_blank" href="#">Palatul Culturii</a></li>
                <li><a target="_blank" href="#">Mânăstirile Golia, Cetățuia</a></li>
                <li><a target="_blank" href="#">Mânăstirile Galata, Frumoasa</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="map">
        <h3>Cum ajungi</h3>
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d86882.13336966433!2d27.54809446902303!3d47.117364922715964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x40cafb9dd3dc26e5%3A0x7c3f11cb6e24a003!2sPalace+of+Culture%2C+Ia%C8%99i!3m2!1d47.1573031!2d27.586978799999997!4m5!1s0x40caf7808ae584fd%3A0x89b7bb1d62e1bed7!2sHamak%2C+Barnova%2C+Ia%C8%99i+County!3m2!1d47.075660199999994!2d27.640818499999998!5e0!3m2!1sen!2sro!4v1453124331337"></iframe>
    </div>

</div>


