@{
    ViewData["Title"] = "Despre";
}

<div class="about">
    <div class="about-desc">
        <h3>I..AŞI în Trail</h3>
        <p>I..AŞI în Trail este o competitie de alergare a carei prima editie se va desfasura in data de 10.04.2016 pe Dealul Repedea, la 10km sud de Municipiul Iaşi.</p>
        <p>Dragi prieteni, privind locurile minunate din preajma municipiului Iasi, tinand cont de numarul in continua crestere al iubitorilor si practicantilor de alergare in general si de alergare fara asfalt (trail running) in special, luand in considerare numarul mic de astfel de competitii din zona Moldovei, acest concurs s-a impus aproape de la sine. Notati data de 10 aprilie 2016 in agenda voastra competitionala si ramaneti pe pozitii. :)</p>

    </div>


    <div class="about_bottom">
        <div class="col-md-4 about_left">
            <h4><a href="https://www.facebook.com/mai.bine" target="_blank"><i class="fa fa-facebook"></i></a> Asociația Mai Bine</h4>
            <p>
                Viziunea Asociaţiei Mai Bine este reprezentată de o lume guvernată de norme şi principii etice solide, sustenabilă din punct de vedere ecologic şi echitabilă din punct de vedere social.
            </p>
        </div>

        <div class="col-md-4 about_left">
            <h4><a href="https://www.facebook.com/IA-%C5%9EI-urc%C4%83-256104761244926" target="_blank"><i class="fa fa-facebook"></i></a> IA ŞI urcă!</h4>
            <p>
                Când talentele te-ncurcă,<br />
                Cel mai bine...IA ŞI urcă!
            </p>
        </div>

        <div class="col-md-4 about_left">
            <h4><a href="https://www.facebook.com/hpm.running.team" target="_blank"><i class="fa fa-facebook"></i></a> HPM Running Team</h4>
            <p>
                Echipa de alergare a Asociației de Turism Montan "Hai Pe Munte!" Iași
            </p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

