@model StefanRiciu.Models.Pagina

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Pagina</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Titlu" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titlu" class="form-control" />
                <span asp-validation-for="Titlu" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descriere" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Continut" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Continut" class="form-control" />
                <span asp-validation-for="Continut" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Imagine" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Imagine" class="form-control" />
                <span asp-validation-for="Imagine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Video" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Activa" />
                    <label asp-for="Activa"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
