
<div class="main_bg" id="breadcrumb">
    <div class="container">
        <div class="main_grid1">
            <h3 class="style pull-left">@ViewData["Title"]</h3>
            <ol class="breadcrumb pull-right">
                <li><a asp-controller="Home" asp-action="Index">Acasă</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
