<div class="footer_bg">
    <div class="container">
        <div class="footer">
            <div class="col-md-12">
                <h1>Organizatori</h1>
            </div>
            <div class="col-md-4 footer1_of_3">
                <a href="http://www.maibine.eu" target="_blank">
                    <img src="~/images/organizatori/logomaibine.jpg" alt="Mai Bine" width="100%" />
                </a>
            </div>
            <div class="col-md-4 footer1_of_3">
                <a href="https://www.facebook.com/IA-%C5%9EI-urc%C4%83-256104761244926/" target="_blank">
                    <img src="~/images/organizatori/logoiasiurca.jpg" alt="IA ȘI urcă!" width="100%" />
                </a>
            </div>
            <div class="col-md-4 footer1_of_3">
                <a href="https://www.facebook.com/hpm.running.team/" target="_blank">
                    <img src="~/images/organizatori/logohpmrunningteam.png" alt="HPM Running Team" width="100%" />
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer1_bg">
    <div class="container">
        <div class="footer1">
            <div class="copy pull-left">
                <p class="link"><span>&copy; @DateTime.Now.Year - I..AȘI în Trail</span></p>
            </div>
            <div class="soc_icons pull-right">
                <p class="link">
                    <ul class="list-unstyled text-center">
                        <li><a class="footer-link" asp-controller="Home" asp-action="Index">Acasă</a></li>
                        <li><a class="footer-link" asp-controller="Despre" asp-action="Index">Despre</a></li>
                        <li><a class="footer-link" asp-controller="Regulament" asp-action="Index">Regulament</a></li>
                        <li><a class="footer-link" asp-controller="Traseu" asp-action="Index">Traseu</a></li>
                        <li><a class="footer-link" asp-controller="Home" asp-action="Inscriere">Înscriere</a></li>
                        <li><a class="footer-link" asp-controller="InfoUtile" asp-action="Index">Info utile</a></li>
                        <li><a class="footer-link" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>