

<div class="cau_hide">
    <div class="cursual">
        <h4>Parteneri<span class="line"></span></h4>
    </div>
    <div id="owl-slider" class="owl-carousel">
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/primariamunicipiuluiiasi.png" alt="Prim?ria Municipiului Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/sigls-cj-300x162.jpg" alt="Consiliul Jude?ean Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/DJST-300x257.jpg" alt="Direc?ia Jude?ean? pentru Sport ?i Tineret Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/casa_cultura_sigla.jpg" alt="Casa de cultur? Mihai Ursachi" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/HamakIasi.png" alt="Hamak Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/cuib.png" alt="Cuib" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/redu.jpg" alt="Redu" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/apafaraplastic.jpg" alt="Apa f?r? plastic" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/logoacaju-300x175.jpg" alt="Acajou" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/Logo-Ford-AMH-300x162.jpg" alt="Ford Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/sigla-toyota-iasi-298x300.jpg" alt="Toyota Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/logo-moving.png" alt="Club Moving Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/sponsori/Logo_PALAS-300x300.jpg" alt="Palas Ia?i" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/logo_tvr_iasi-300x84.jpg" alt="TVR Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/logo_tele_m-300x138.jpg" alt="TeleM" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Logo_Pro_TV_Iasi.jpg" alt="PRO TV Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Digi_24_lasi-01-300x137.jpg" alt="Digi24 Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/antena-iasi-rosu-mic.jpg" alt="Antena1 Ia?i" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/logo-impactfm-300x116.png" alt="Impact FM" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/radio-iasi.gif" alt="Radio Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Logo_Radio_Hit-300x174.jpg" alt="Radio Hit" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/magic_fm_logo-300x176.jpg" alt="Magic FM" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/sigla-ibs1-300x95.png" alt="IBS" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/TargetMedia-300x300.jpg" alt="Target Media" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/WINK_mic.png" alt="Wink" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Adservio-300x300.jpg" alt="Adservio" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Logo-Curierul-nou-300x138.png" alt="Curierul" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/logo-ziarul-de-iasi-300x105.jpg" alt="Ziarul de Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/logo-vreau.altiasi-300x300.jpg" alt="Vreau alt Ia?i" />
            </div>
        </div>
        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Logo_Evenimentul.png" alt="Evenimentul" />
            </div>
        </div>

        <div class="item">
            <div class="cau_left">
                <img class="lazyOwl" data-src="images/parteneri/Iasi_Fun-logo-300x118.jpg" alt="Ia?i Fun" />
            </div>
        </div>

    </div>
</div>

