@model StefanRiciu.Models.Sportiv

@{
    ViewData["Title"] = "Formular de inscriere";
}


<form asp-action="Create">
    <div class="form-horizontal">

        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nume" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prenume" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DataDeNastere" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataDeNastere" class="form-control" />
                <span asp-validation-for="DataDeNastere" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CategorieID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategorieID" asp-items="ViewBag.CategorieID" class="form-control" ></select>
                <span asp-validation-for="CategorieID" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TraseuID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TraseuID" asp-items="ViewBag.TraseuID" class="form-control"></select>
                <span asp-validation-for="TraseuID" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Telefon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefon" class="form-control" type="tel" />
                <span asp-validation-for="Telefon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Localitate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Localitate" class="form-control" />
                <span asp-validation-for="Localitate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Club" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Club" class="form-control" />
                <span asp-validation-for="Club" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Observatii" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observatii" class="form-control" type="text" />
                <span asp-validation-for="Observatii" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Trimite" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
