@{
    ViewData["Title"] = "Regulament";
}

<div class="details">
    <h2>REGULAMENTUL OFICIAL AL COMPETITIEI DE ALERGARE I..AŞI în Trail 2016</h2>

    <p>Acest regulament se aplica in cadrul competitiei I..AŞI în Trail – ediţia I, organizata de Asociatia "Mai Bine", ce va avea loc duminica, 10 aprilie 2016.</p>

    <h4>1.CARACTERISTICI</h4>

    <p>I..AŞI în Trail este o competitie de alergare ce are loc in aer liber, traseul desfasurandu-se pe poteci si drumuri forestiere din padurea Repedea-Bârnova din sudul Municipiului Iaşi. Participantii isi pot alege una din cursele la care doresc sa participe: cros 5 kilometri sau semimaraton 21 kilometri. Varsta minima pentru inscrierea in concurs este de 18 ani. (Exceptie face Cursa Copiilor, ce se desfasoara in zona de start a curselor pentru adulti si la care este necesara prezenta unuia din parintii fiecarui copil inscris).</p>

    <h4>2.CONTRIBUTIA DE PARTICIPARE</h4>

    <p>Contributia pentru participare pentru fiecare cursa in parte, cea de cros si cea de semimaraton, variaza in functie de momentul efectuarii inscrierii: pana la 01.03.2016 este de 30 lei iar intre 01.03-01.04.2016 este de 45 lei.</p>
    <p>
        Aceasta asigura:
        <ul>

            <li>Kitul de concurs (numar de concurs, alte produse functie de sponsorii interesati)</li>
            <li>Acces la punctul de revitalizare de la start/finish si cele de la km xxxxxx din traseu</li>
            <li>Fotografii</li>
            <li>Prezenta in clasament</li>
        </ul>
        In cazul neprezentarii, descalificarii sau retragerii din competitie, contributia de participare nu va fi returnata.
    </p>
    <p>Facem precizarea ca banii proveniti din contributia de participare vor fi folositi de catre organizatorii competitiei in actiuni ecologice desfasurate in folosul padurii in care se desfasoara competitia, implicit in beneficiul populatiei ce desfasoara activitati in natura.</p>

    <h4>3.INSCRIERE</h4>

    <p>Participantii trebuie sa completeze formularul online de inscriere de pe site-ul oficial www.iasiintrail.ro, conform instructiunilor din pagina respectiva.</p>
    <p>Plata contributiei se poate face prin transfer bancar sau depunere la ghiseul bancii in contul organizatorului, in functie de perioada, in maxim 3 zile lucratoare de la inscriere, conform indicatiilor din pagina de inscriere. Plata eventualelor comisioane bancare revine in sarcina participantilor la concurs.</p>
    <p>In cazul neachitarii contributiei in acest termen, procesul de inscriere trebuie reluat cu aplicarea conditiilor de la reluarea inscrierii.</p>
    <p>Nu se fac inscrieri si la fata locului. Totusi, organizatorii isi rezerva dreptul de a acorda un numar limitat de wildcard-uri unor sportivi de valoare recunoscuta sau unor personalitati locale, care isi anunta prezenta la start inclusive dupa inchiderea oficiala a inscrierilor.</p>
    <p>Locurile sunt transmisibile unei alte persoane sau participantii se pot muta de la o cursa la alta pana la data de 1 aprilie, numai dupa obtinerea aprobarii prealabile din partea organizatorilor. Dupa aceasta data nu se mai pot face modificari in lista de start. Gasirea persoanei inlocuitoare cade in sarcina concurentului.</p>


    <h4>4.CATEGORII, PREMII SI CLASAMENT</h4>

    <p>
        Fiecare cursa va avea clasament propriu ce va contine timpul fiecarui alergator si locul la general precum si la categoria din care face parte. Categoriile sunt urmatoarele:
        <ul>
            <li>la proba de cros:  Open masculin si Open feminin;</li>
            <li>la proba de semimaraton: 18-34ani masculin, +35ani masculin, 18-34ani feminin, +35ani feminin.</li>
        </ul>
        Se vor acorda premii pentru locurile 1, 2 si 3 ale categoriilor mai sus mentionate, pentru fiecare cursa in parte. Valoarea acestora va fi in functie de disponibilitati, dar va fi anuntata inainte de inchiderea inscrierilor.
    </p>
    <p>Data de referinta pentru stabilirea varstei este data de 10 aprilie 2016, data concursului. Astfel, la concurs se pot inscrie persoane nascute inainte de 10 aprilie 1998(inclusiv). De asemenea, la semimaraton, persoanele nascute intre 11 aprilie 1981-10 aprilie 1998(inclusiv) intra la categoria 18-34ani, iar cele nascute inainte de 10 aprilie 1981(inclusiv) intra la categoria +35 ani.</p>

    <h4>5.ECHIPAMENT</h4>

    <p>
        Obligatoriu:
        <ul>
            <li>Numar de concurs purtat in fata, vizibil</li>
            <li>Incaltaminte sport (recomandam incaltaminte de alergare, cu talpa profilata, tip trail running)</li>
            <li>Echipament sport</li>
            <li>Bidon/Rucsac de hidratare (concursul este eco-friendly, nu vor fi pahare de unica folosinta in punctele de hidratare!!)</li>
        </ul>
    </p>
    <p>
        Recomandat:
        <ul>
            <li>Pantaloni lungi</li>
            <li>Bluza maneca lunga</li>
            <li>Buff/bandana de pus pe cap</li>
            <li>Telefon mobil functional</li>
        </ul>
        In functie de conditiile meteo de la start, anumite lucruri din echipamentul recomandat pot deveni obligatorii.
    </p>

    <h4>6.NUMAR CONCURS</h4>

    <p>Numarul de concurs este obligatoriu. Acesta va fi furnizat de organizatori, in kitul de start si trebuie afisat in fata, vizibil, pe toata perioada desfasurarii concursului.</p>

    <h4>7.CRONOMETRARE</h4>

    <p>Cronometrarea se va face manual, la secunda. Timpul pe baza caruia se va intocmi clasamentul va cel dintre momentul startului oficial si trecerea liniei de finish. Daca 2 concurenti ajung in acelasi timp la finish, unul va primi locul y, iar celalalt locul y+1.</p>

    <h4>8.INMANAREA KITULUI DE CONCURS</h4>

    <p>Ridicarea kitului de concurs se va face pe baza actului de identitate si a declaratiei pe proprie raspundere semnata de catre participant. Declaratia va fi trimisa fiecarui participant odata cu emailul de confirmare a inregistrarii. Locul, zilele si orele intre care va avea loc distributia kiturilor vor fi anuntate pe site-ul evenimentului si pe pagina de facebook.</p>

    <h4>9.TRASEU</h4>

    <p>
        Loc start: platoul Repedea (10 km sud de Iasi, langa releul Repedea), duminica, 10 aprilie 2016, dupa cum urmeaza:

        <ul>
            <li>Semimaraton - 21 km: ora start 10.00 AM,  timp limita 4h</li>
            <li>Cros - 5 km: ora start 10:15 AM, timp limita 1h</li>
        </ul>
    </p>
    <p>Accesul se poate face cu mașina personală sau cu maxi-taxi de Paun cu statie imbarcare in fata Casei Sindicatelor (la si jumatate). Se va cobori la intrarea in satul Paun de unde mai aveti de parcurs cca 400m pe jos pana la start.</p>
    <p>Suprafata de alergare este in proportie de aproximativ 95% pamant si poate prezenta denivelari, radacini de copac sau alte obstacole mai mult sau mai putin vizibile. In functie de precipatii si temperaturi, anumite portiuni pot fi acoperite cu gheata sau noroi.</p>
    <p>Posturile de hidratare vor fi amplasate in zona de start/finish si pe traseul de concurs. Pe traseu vor fi si posturi de control ce au ca scop observarea trecerii concurentilor dupa numarul de concurs, precum si rol de ghidare a alergatorilor.</p>
    <p>Traseul va fi marcat cu banda de semnalizare, din loc in loc.</p>
    <p>Organizatorul isi rezerva dreptul de a opri un participant in cazul in care acesta este accidentat iar continuarea cursei ar putea duce la agravarea situatiei sale. Orice participant care nu mai poate sau nu mai vrea sa continue cursa indiferent de motiv trebuie sa-i informeze imediat pe organizatori la punctele de control sau sunand la numarul de telefon aflat pe site.</p>

    <h4>10.ALTE PRECIZARI</h4>

    <p>Participantii sunt obligati ca inainte de ziua evenimentului sa citeasca si sa urmeze instructiunile prezentatate pe site-ul evenimentului www.iasiintrail.ro si pe pagina de facebook a acestuia, si de asemenea, sa asculte si sa urmeze instructiunile organizatorilor la locul de desfasurare al evenimentului.</p>

    <p>Prin participarea la această competiţie, participanţii sunt de acord să respecte şi să se conformeze tuturor prevederilor, termenilor şi condiţiilor prezentului Regulament.</p>
    <p>Organizatorii îşi rezervă dreptul de a modifica prezentul Regulament Oficial, urmând ca astfel de modificări să intre în vigoare numai după publicarea unui anunţ prealabil de prezentare a acestor modificări pe site-ul www.iasiintrail.ro si pe pagina de facebook a competitiei.</p>

    <p>
        Participantii pot fi descalificati in urmatoarele situatii:
        <ul>
            <li>Ratarea unui punct de control</li>
            <li>Scurtarea traseului sau folosirea de scurtaturi fata de traseul marcat</li>
            <li>Nerespectarea regulilor competitiei</li>
            <li>Comportament nesportiv fata de alti participanti, oficiali, public sau alte persoane</li>
            <li>Modificarea sau schimbarea numerelor de concurs</li>
            <li>Aruncarea de resturi, ambalaje, sau alte obiecte/lucruri in padure</li>
        </ul>
    </p>

    <p>Organizatorii se angajează să păstreze confidenţialitatea datelor personale ale participanţilor şi câştigătorilor la prezenta competiţie şi să le utilizeze conform prezentului Regulament şi legislaţiei în vigoare.</p>
    <p>Prin inscrierea la I..AŞI în Trail, participantii sunt de acord sa primeasca mesaje din partea organizatorului despre activitatea acestuia, despre alte evenimente organizate de acesta sau la care acesta are calitatea de partener.</p>
    <p>Prin inregistrarea in competitie, toti participantii vor autoriza automat organizatorii, inclusiv partenerii curselor, sa foloseasca si sa reproduca orice material continand declaratii sau imagini cu participantii in alergare. Organizatorii pot furniza aceste materiale unor terti fara aprobarea participantilor. Acest acord se poate exercita pe orice perioada de timp.</p>



</div>
