@{
    ViewData["Title"] = "Acasă";
}

@section scripts {

    <script src="~/js/template/responsiveslides.min.js"></script>
    <script>
        // or use "$(window).load(function() {"
        $(function () {
            $("#sliderHomepage").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });

            // remove breadcrumb from homepage
            $("#breadcrumb").remove();
        });
    </script>
}

@section slider {
    <div class="slider">
        <ul class="rslides" id="sliderHomepage">
            <li>
                <img src="~/images/slider/RomaniaIasi.jpg" alt="" />
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h2 class="title">Iași - 10 aprilie 2016!</h2>
                        <p class="description">Prima competiție de trail run din zonă</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/images/slider/IasiReleu.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h2 class="title">Vizitează Iașul!</h2>
                        <p class="description">Redescoperă capitala Moldovei.</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/images/slider/PalatulCulturii.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h2 class="title">Obiective turistice</h2>
                        <p class="description">Alege și vizitează unul din multitudinea de obiective turistice.</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
}

@* content *@
<div class="main_grid">
    <div class="top_grid">

        <div class="col-md-9 span1_of_1">
            <h2>I..AŞI în Trail</h2>
            <p>Este o competiție de alergare a cărei primă ediție se va desfășura în data de 10.04.2016 pe Dealul Repedea, la 10km sud de Municipiul Iaşi.</p>
        </div>
        <div class="col-md-3 span1_of_2">
            @*<a asp-controller="Despre" asp-action="Index" class="btn btn1">Mai mult</a>*@
            @Html.ActionLink("Mai mult", "Details", "Pagini", new { id = 4 }, new {  @class = "btn btn1" })
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="span_of_4">

        <div class="col-md-3 span1_of_4">
            <div class="span4_of_list">
                <div class="num">01</div>
                <h3>Regulament</h3>
                <p>Citește cu atenție regulamentul înainte de a te înscrie în concurs!</p>
                <div class="read_more">
                    @*<a asp-controller="Regulament" asp-action="Index" class="btn btn-2b">Mai mult</a>*@
                    @Html.ActionLink("Mai mult", "Details", "Pagini", new { id = 5 }, new { @class = "btn btn-2b" })
                </div>
            </div>
        </div>
        <div class="col-md-3 span1_of_4">
            <div class="span4_of_list">
                <div class="num">02</div>
                <h3>Trasee</h3>
                <p>Cele două trasee sunt integral fără asfalt.</p>
                <div class="read_more">
                    @*<a asp-controller="Traseu" asp-action="Index" class="btn btn-2b">Mai mult</a>*@
                    @Html.ActionLink("Mai mult", "Details", "Pagini", new { id = 6 }, new { @class = "btn btn-2b" })
                </div>
            </div>
        </div>
        <div class="col-md-3 span1_of_4">
            <div class="span4_of_list">
                <div class="num">03</div>
                <h3>Înscriere</h3>
                <p>Alege traseul care ți se potrivește cel mai bine.</p>
                <div class="read_more">
                    <a asp-controller="Sportivi" asp-action="Create" class="btn btn-2b">Mai mult</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 span1_of_4">
            <div class="span4_of_list">
                <div class="num">04</div>
                <h3>Info utile</h3>
                <p>Program, cazare și cum ajungi la punctul de start.</p>
                <div class="read_more">
                    @*<a asp-controller="InfoUtile" asp-action="" class="btn btn-2b">Mai mult</a>*@
                    @Html.ActionLink("Mai mult", "Details", "Pagini", new { id = 2 }, new { @class = "btn btn-2b" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

